<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/my.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <title>Server Image Transfer</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-left">
                <span>Tugas <span class="arby">Web Service</span></span>
            </div>
            <div class="header-right">
                <a href="https://uts2021client.pythonanywhere.com">GO TO CLIENT</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="content-title">
                <h1>Sended Image</h1><br>
            </div>
            <div>
                <img class="image" src="{{url_for('static', filename='test.jpg')}}" alt="img">
            </div>
             <a class="btn-submit goto" href="https://uts2021client.pythonanywhere.com">GO TO CLIENT</a>
        </div>
    </div>
</body>
</html>
